﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section carousel{
    <div class="slider-wrapper theme-default">
        <div class="ribbon"></div>
        <div id="slider" class="nivoSlider">
            <a href="#"><img src="~/Images/c-c-for-hackers.jpg" alt="Sliderf Image 1" title="#caption1" /></a>
            <a href="#"><img src="~/Images/csharp-logo.jpg" alt="Sliderf Image 2" title="#caption2" /></a>
            <a href="#"><img src="~/Images/microsoft-sql-server-linux-1.jpg" alt="Sliderf Image 3" title="#caption3" /></a>
            <a href="#"><img src="~/Images/Scripts_image.jpg" alt="Sliderf Image 4" title="#caption4" /></a>
        </div>
        <div id="caption1" class="nivo-html-caption">
            <h2>Birinci Makale</h2>
            <p> Birinci makale içeriği</p>
            <a href="#" class="slider_more_button">Daha Fazla</a>
        </div>
        <div id="caption2" class="nivo-html-caption">
            <h2>İkinci Makale</h2>
            <p>İkinci makale içeriği</p>
            <a href="#" class="slider_more_button">Daha Fazla</a>
        </div>
        <div id="caption3" class="nivo-html-caption">
            <h2>Üçüncü Makale</h2>
            <p>Üçüncü makale içeriği</p>
            <a href="#" class="slider_more_button">Daha Fazla</a>
        </div>
        <div id="caption4" class="nivo-html-caption">
            <h2>Dördüncü Makale</h2>
            <p>Dördüncü makale içeriği</p>
            <a href="#" class="slider_more_button">Daha Fazla</a>
        </div>
    </div>
    <script type="text/javascript" src="~/Scripts/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider({
                effect: 'random',
                captionOpacity: 1,
                controlNav: true, // 1,2,3... navigation
                directionNavHide: false,
                directionNav: true,
                animSpeed: 800, // Slide transition speed
                pauseTime: 4000, // How long each slide will show
            });
        });
    </script>
    }
@section anaIcerik{
    <div class="content_wrapper content_mb_30">
        <h2 class="post_title"><a href="#">Ad Soyad</a></h2>
        <img style="width:96px; height:120px;" src="~/Images/Ben.jpg" alt="Muhammed Emin KARABOĞA" class="img_border img_nom" />
        <p>Muhammed Emin KARABOĞA</p>
        <div class="clear"></div>
    </div>
    <div class="content_wrapper">
        <h2 class="post_title"><a href="#">Öğrenci Numarası</a></h2>
        <p>b151210045</p>
        <div class="clear"></div>
    </div>
    }
