﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="wdith-device-width, initial-scale=1.0" />
    <link href="~/Content/templatemo_style.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/nivo-slider.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="~/Scripts/jquery-1.6.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript">
	$(document).ready(function(){
		$("#featured > ul").tabs({fx:{opacity: "toggle"}}).tabs("rotate", 5000, true);
	});
    </script>
    <link href="~/Content/ddsmoothmenu.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/ddsmoothmenu.js"></script>

    <script type="text/javascript">

        ddsmoothmenu.init({
        	mainmenuid: "templatemo_menu", //menu DIV id
        	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
        	classname: 'ddsmoothmenu', //class added to menu's outer DIV
        	//customtheme: ["#1c5a80", "#18374a"],
        	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
        })

    </script>

    <link href="~/Content/slimbox2.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/slimbox2.js" type="text/javascript" media="screen"></script>
</head>
<body>
    <div id="templatemo_wrapper">
        <div id="templatemo_header">
            <span class="header_border"></span>
            <div id="site_title"><a href="#">Universe</a></div>
            <div id="templatemo_menu" class="ddsmoothmenu">
                <ul>
                    <li><a href="~/Views/Home/Index.cshtml"><span></span>Anasayfa</a></li>
                    <li><a href="~/Views/Home/About.cshtml"><span></span>Hakkımda</a></li>
                    <li><a href="~/Views/Home/Contact.cshtml"><span></span>İletişim</a> </li>
                </ul>
                <br style="clear: left" />
            </div> <!-- end of templatemo_menu -->
            <div class="clear"></div>
        </div> <!-- END of header -->
        <div id="templatemo_slider">@RenderSection("carousel",false)</div>
        
        <div id="templatemo_main_content">
            <div id="templatemo_sidebar">
                <div class="sidebar_content_box">
                    <h3>Kategoriler</h3>
                    <ul class="sidebar_link">
                        <li><a href="#">C#</a></li>
                        <li><a href="#">Asp.NET</a></li>
                        <li><a href="#">C++</a></li>
                        <li><a href="#">JavaScript</a></li>
                        <li><a href="#">Sql</a></li>
                    </ul>
                </div>
            </div>
            <div id="templatemo_content">
                <div class="col_2">
                    @RenderSection("anaIcerik",false)
                </div>
                <div class="col_2 no_margin_right">
                    <h2>Son Güncellemeler</h2>
                    <div class="news_list">
                        <img src="#" alt="Resim 1" class="img_fl img_border img_border_s" />
                        <a href="#">Birinci Makale</a>
                        <p>Birinci makale içeriği</p>
                        <div class="clear"></div>
                    </div>
                    <div class="news_list">
                        <img src="#" alt="Resim 2" class="img_fl img_border img_border_s" />
                        <a href="#">İkinci Makale</a>
                        <p>İkinci makale içeriği</p>
                        <div class="clear"></div>
                    </div>
                    <div class="news_list">
                        <img src="#" alt="Resim 3" class="img_fl img_border img_border_s" />
                        <a href="#">Üçüncü Makale</a>
                        <p>ikinci makale içeriği</p>
                        <div class="clear"></div>
                    </div>
                    <div class="news_list">
                        <img src="#" alt="Resim 4" class="img_fl img_border img_border_s" />
                        <a href="#">Dördüncü Makale</a>
                        <p>Dördüncü makale içeriği</p>
                        <div class="clear"></div>
                    </div>

                    <div class="clear"></div>
                    <a href="#" class="more right">Daha Fazla</a>

                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="templatemo_footer">
            Copyright © 2016 Şirket Adı
        </div>
    </div>
</body>
</html>